/*Importa fontes para uso no sistema*/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto|Teko');

/*Background padrão*/
html{
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(#ffffff, #d6d1d1) fixed no-repeat;
    background-size: auto 100%;
}

/*Menu*/
.navbar{
    background-color: #e8eaed;
    background-image: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
    cursor:default
}
/*Ajuste distânca botões barra de navegação*/
.navbar a{
    color: black;
    margin-left: 0.5px;
    margin-right: 0.5px;
}
/*Cor hover botões*/
.navbar a:hover{
    background-color: #ff8d30 !important;
}
/*Cor active botões*/
.navbar .active a{
    background-color: #ff8d30;
}

/*Títulos e Botões*/
.title{
    font-family: "Oswald", sans-serif;
    border-bottom: 1px solid #bbbcbf;
}
/*CSS botão padrão*/
.btn-default{
    background-color: #ff8d30;
    border-radius: 0px;
    font-family: 'Passion One', cursive;
    font-size: medium;
}
/*CSS botões tabela*/
.btn-edit, .btn-delete, .btn-yes, .btn-email{
    border-radius: 0px;
    font-family: 'Passion One', cursive;
    margin-left: 2px;
}
/*Cor botão Editar*/
.btn-edit{
    background-color: #5998ff;
}
/*Cor botão Editar em hover*/
.btn-edit:hover{
    background-color: #d1e2ff;
}
/*Cor botão Excluir*/
.btn-delete{
    background-color: #fc3737;
}
/*Cor botão Excluir em hover*/
.btn-delete:hover{
    background-color: #fc7171;
}
/*Cor botão Ativar*/
.btn-yes{
    background-color: #11c401;
}
/*Cor botão Ativar em hover*/
.btn-yes:hover{
    background-color: #8fd689;
}
/*Cor botão Enviar E-mail*/
.btn-email{
    background-color: #fcd62d;
}
/*Cor botão Enviar E-mail em hover*/
.btn-email:hover{
    background-color: #f7e7a3;
}

/*Tabs*/
.nav-tabs{
    font-family: 'Roboto', sans-serif; 
}

.nav-tabs li a{
    background-color: #e8eaed;
    color: black;
}

.nav-tabs li a:hover{
    background-color: #ff8d30;
}

/*Pesquisar*/
#buscar, #buscar1, #buscar2, #buscar3{
    margin-top: 6px;
    height: 40px;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
}

/*Tabelas*/
.tab-content{
    height: 350px;
    overflow: auto;
}
/*CSS painéis*/
#tab-config{
    height: auto !important;
    overflow: auto;
}
/*CSS linhas da tabela*/
td{
    vertical-align: middle !important;
    border-bottom: 1px solid #bbbcbf;
}

/*Conteúdo Modal*/
.modal-content{
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
}

/*Cabeçalho Modal*/
.modal-header{
    background-color: #ff8d30;
}

/*Geral*/
.gasparzinho{
    visibility: hidden;
}

/*Cor padrão dos links*/
a{
    color: #333;
}
/*Mensagens de erro*/
.alert{
    margin-top: 2px !important;
    margin-bottom: 0px !important;
    padding: 5px;
    border-radius: 0px;
}
/*Mensagens de retorno*/
#mensagem{
    font-size: small;
    padding: 5px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}